#Page_myVmQV {
	}#Header_2sC2DF {
	}#ScrollContent_FXMzWO {
	padding:2.63em 0em 0em 0em;
}
#Box_5MHDsT {
	border-top-width:1px;
	border-right-width:00px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_bsHLLG {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_5W4IOF {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_f8PfSz {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_m23BVm {
	width:4.38em;
	border-top-width:00px;
	border-right-width:00px;
	border-bottom-width:00px;
	border-left-width:00px;
}
#Box_sscyoA {
	border-top-width:1px;
	border-right-width:00px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_p7c2fY {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_kANLEB {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_gPr2lN {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_5Rewt2 {
	width:4.38em;
	border-top-width:00px;
	border-right-width:00px;
	border-bottom-width:00px;
	border-left-width:00px;
}
#Box_ylfMFH {
	border-top-width:1px;
	border-right-width:00px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_t06GeQ {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_qW9oae {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_goUFgw {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_5ueEMG {
	width:4.38em;
	border-top-width:00px;
	border-right-width:00px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:none;
}
#Box_B4pm2x {
	border-top-width:1px;
	border-right-width:00px;
	border-bottom-width:1px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_5pnEtG {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_ns5fmM {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_2DcXg1 {
	width:4.38em;
	border-top-width:00px;
	border-right-width:1px;
	border-bottom-width:00px;
	border-left-width:00px;
	border-style:solid;
	border-color:rgba(0,0,0,0.15);
}
#SquareBox_YPQeZW {
	width:4.38em;
}
#Icon_nubgbJ {
	}